.memories {
  width: 100%;
  height: 100vh;
  background-color: #64B6AC;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Unbounded";
  color: whitesmoke;
}
.memories__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(10px + 10 * (100vw / 1080)) calc(10px + 30 * (100vw / 1080));
}

.memories__list-desription {
  text-align: left;
  width: 70%;
  font-size: calc(5px + 10 * (100vw / 1080));
}

.memories__list-container {
  gap: calc(70px + 40 * (100vw / 1080));
}

.memories__list {
  gap: 20px;
}

.memories__list-container,
.memories__list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.memories__list-title {
  font-weight: 700;
  text-shadow: whitesmoke 0 0 10px;
  font-size: calc(15px + 15 * (100vw / 1080));
}

.memories__list-item {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memories__item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.memories__list hr {
  background-color: #3e857c;
  height: 0.1px;
  width: 70%;
}

.memories__list-name {
  font-size: calc(8px + 5 * (100vw / 1080));
}

.memories__list-date {
  font-size: calc(8px + 5 * (100vw / 1080));
}

@media (max-width: 800px) {
  .memories__list hr {
    width: 100%;
  }

  .memories__list-item {
    width: 100%;
  }
}
