.thank-you {
  width: 100%;
  background: #ff495c;
  height: 900px;
}

.thank-you__container {
    padding: calc(10px + 10 * (100vw / 1080)) calc(10px + 30 * (100vw / 1080));
}

.thank-you__list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: calc(10px + 10 * (100vw / 1080)) calc(10px + 30 * (100vw / 1080));
}
.thank-you__list-title {
  font-family: "Unbounded";
  font-weight: 700;
  color: whitesmoke;
  text-shadow: #ffffff 0 0 10px;
  font-size: calc(15px + 15 * (100vw / 1080));
}
.thank-you__title-text {
}
.thank-you__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.thank-you__list-item {
    font-family: "Unbounded";
    color: whitesmoke;
    text-align: left;
    font-size: calc(8px + 5 * (100vw / 1080));
}
