.i-was-glad-to-come {
    width: 100%;
    padding: calc(10px + 50 * (100vw / 1080)) 0;
    background-color: #822EFF;
}
.i-was-glad-to-come__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.i-was-glad-to-come__rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.i-was-glad-to-come__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.i-was-glad-to-come-row__icon {
    flex:1;
}

.i-was-glad-to-come__row:last-child .i-was-glad-to-come-row__icon {
    display: flex;
    justify-content: flex-end;
}

.i-was-glad-to-come__row:last-child .i-was-glad-to-come-row__icon img {
    border-radius: 50px 0 0 50px;
    box-shadow: #6d21df 0 0 10px 10px, inset 10px 0 10px #822EFF;
}

.i-was-glad-to-come-row__icon img {
    border-radius: 0 50px 50px 0;
    box-shadow: #6d21df 0 0 10px 10px, inset 10px 0 10px #822EFF;
}

.i-was-glad-to-come-row__text-container {
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i-was-glad-to-come-row__text {
    width: 80%;
    text-align: left;
    font-family: "Unbounded";
    font-size: calc(10px + 10 * (100vw / 1080));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap: 20px;
}

.i-was-glad-to-come-row__text h2 {
    font-weight:900;
    text-shadow: whitesmoke 0 0 10px;
    font-size: calc(15px + 10 * (100vw / 1080));
}